.global-theme {
          --colors-neutral-60: #999999;
  --colors-neutral-80: #ccc;
  --colors-secondary-accent-1: #f3f1ec;
  --colors-secondary-accent-16: #6b7156;
  --colors-semantic-success: #1b873d;
  --colors-semantic-danger: #f82323;
  --colors-semantic-warning: #ee14fc;
  --colors-primary-black: #000000;
  --colors-primary-white: #ffffff;
  --colors-primary-henk-black: #1f1f1f;
  --colors-primary-henk-white: #f7f8f6;
      }